# Rename to .env and fill values
JWT_SECRET=change_this_to_random_long_value
JWT_REFRESH_SECRET=change_this_to_random_long_value
ADMIN_ID=admin
ADMIN_PASSWORD=change_admin_password
ADMIN_NAME=Admin
PORT=3000
TRONGRID_API_KEY=
NODE_ENV=production
